<!DOCTYPE html>
{% extends 'svapp/student1.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container" style="margin-top:150px;">
    <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2>Change password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn--radius  btn-outline-primary btn-md">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
