<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Assessment Portal</title>
  <link rel="icon" href="{% static "images/svce2.png" %}" type="image/png">

  <link rel="stylesheet" href="{% static "vendors/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/fontawesome/css/all.min.css"%}">
  <link rel="stylesheet" href="{% static "vendors/themify-icons/themify-icons.css"%}">
  <link rel="stylesheet" href="{% static "vendors/linericon/style.css"%}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.theme.default.min.css"%}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css"%}">
  <link rel="stylesheet" href="{% static "path/to/font-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css"%}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand" href="/index"><h3 style="color:white;" ><img src="{% static "images/svce3.png" %}" > Student Assessment Portal</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">

            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
              <li class="nav-item active"><a class="nav-link" href="/teacher">Teacher</a>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Profile</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="/upt/{{user.id}}">Profile Edit</a></li>
                    <li class="nav-item"><a class="nav-link" href="/quiz_change_list">Exams Results</a></li>
                  </ul>
                </li>
              <li class="nav-item"><a class="nav-link" href="/comment">Comment</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================ Hero sm Banner start =================-->
  <section class="hero-banner hero-banner--sm mb-30px">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-banner__img">
            <img class="img-fluid" src="{% static "images/banner/t.png" %}" style="height:370px; width:60%; margin-left:70px; margin-top:100px;" alt="">
          </div>
        </div>
        <div class="col-lg-5 pt-5">
          <div class="hero-banner__content">
            <p style="font-size:28px; padding-top:130px;">Designing Question Paper & Student Assessment Portal</p>
            <p style="font-size:15px;">"Nothing is impossible, The word itself says I'm Possible... So All The Best."</p>
            <a class="button bg" href="https://www.svce.edu.in">SV Colleges Info</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->


  <!--================ Pricing section start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2 class="section-intro__title">Teacher</h2>
        <p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam quis nulla pede mi commodo tristique nam hac  luctus torquent</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-feature__icon">
                <i class="ti-clipboard"></i>
              </span>
              <h3 class="card-feature__title"><a href="/quiz/add">Genarate Assessment</a></h3>
              <p class="card-feature__subtitle">Genarate Question paper based on Deficulty level</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-feature__icon">
                <i class="ti-write"></i>
              </span>
              <h3 class="card-feature__title"> <a href="/addquestions">Add Questions</a></h3>
              <p class="card-feature__subtitle">Add your Questions Base on deficulty level</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-feature__icon">
                <i class="ti-marker-alt"></i>
              </span>
              <h3 class="card-feature__title"> <a href="/quiz_change_list">Exam List</a></h3>
              <p class="card-feature__subtitle">Previous Conducting Exams list for Different students</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--================ Pricing section end =================-->

  <!--================ Start Clients Logo Area =================-->
  <section class="clients_logo_area section-padding">
    <div class="container">
      <div class="clients_slider owl-carousel">
        <div class="">
          <img src="{% static "images/www.jpg" %}"alt="">
        </div>
        <div class="">
          <img src="{% static "images/Home_55.png" %}"alt="">
        </div>
        <div class="">
          <img src="{% static "images/Home_33.jpg" %}" alt="">
        </div>
        <div class="">
          <img src="{% static "images/80.jpg" %}"alt="">
        </div>
        <div class="">
          <img src="{% static "images/1233.jpg" %}"alt="">
        </div>
        <div class="">
          <img src="{% static "images/75.jpeg" %}"alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================ End Clients Logo Area =================-->



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget ">
          <h4>Social Media</h4>
          <ul>
            <li><a href="https://www.facebook.com/SVCETPT/"><strong>Face Book</strong> </a></li>
            <li><a href="https://www.youtube.com/user/SVColleges"><strong> Youtube</strong></a></li>
            <li><a href="https://www.linkedin.com/school/sri-venkateswara-college-of-engineering-tirupati/"><strong>Linkedin</strong></a></li>
            <li><a href="https://twitter.com/https://twitter.com/svce_tirupati"><strong>Twitter</strong></a></li>
          </ul>
        </div>

        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Courses</h4>
          <ul>
            <li><a href="#">M.C.A</a></li>
            <li><a href="#">M.B.A</a></li>
            <li><a href="#">B.TECH</a></li>
            <li><a href="#">M.TECH</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Address</h4>
          <ul>
            <li><a href="http://svce.edu.in/">SV Colleges</a></li>
            <li>Karakambadi Road, Opp. LIC Trining Center, Tirupati-517507</li>
            <li>Phone:0877 2285992</li>
            <li>svce@svcolleges.edu.in</li>
          </ul>
        </div>
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4></h4>
          <ul>

          </ul>
        </div>
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Murali Krishna</h4>
          <ul>
            <li><img class="author_img rounded-circle" src="{% static "images/Krishna14.png" %}"alt=""></li>
          </ul>
        </div>
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Information</h4>
          <ul>
            <li><a href="#">17BF1F0065</a></li>
            <li><a href="#">murali9177056054@gmail.com</a></li>
            <li><a href="#">9177056054</a></li>
            <li><a href="#">1-72,Narayana Puram</a></li>
            <li><a href="#">Sri Kalahasti,Chittor</a></li>
            <li><a href="#">517640</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom row align-items-center text-center text-lg-left">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with by <a href="https://www.linkedin.com/in/n-v-murali-krishna-0742a0143/" target="_blank">N V Murali Krishna</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-4 col-md-12 text-center text-lg-right">
        <a href="https://www.facebook.com/profile.php?id=100009507136031/"><i style="color:white;" class="ti-facebook"></i></a>&nbsp&nbsp&nbsp
        <a href="https://twitter.com/subha_krishna5"><i style="color:white;" class="ti-twitter-alt"></i></a>&nbsp&nbsp&nbsp
        <a href="https://web.skype.com/"><i style="color:white;" class="ti-skype"></i></a>&nbsp&nbsp&nbsp
        <a href="https://github.com/SUBHAMURALIKRISHNA"><i style="color:white;" class="fab fa-github"></i></a>&nbsp&nbsp&nbsp
        <a href="https://www.linkedin.com/in/n-v-murali-krishna-0742a0143/"><i style="color:white;" class="ti-linkedin"></i></a>&nbsp&nbsp&nbsp
      </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

  <script src="{% static "vendors/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
  <script src="{% static "js/mail-script.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>
